/* body {
    background: url("../media/pic1.jpeg"),no-repeat;
    background-size: contain;
} */
.background-form {
    background-color: #DBE2E1;
}
.login-body {
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../media/pic2.jpg");
    opacity: 0.6;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Acme', sans-serif;
    padding-bottom: 200px;

    /* Anas Changes */

    
    /* background-color: rgb(0,0,0,0.4); */
}
.padding_one {
    /* padding-left: 150px;
    padding-right: 150px; */
    width: 22rem;
}
.padding_two {
    width: 22rem;
}
.form-signup-heading {
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
text-transform: uppercase;
font-weight: 700;
}

.third {
    /* border-color: rgb(27, 27, 201); */
    color: #fff;
    box-shadow: 0 0 40px 40px rgb(2, 57, 66) inset, 0 0 0 0 blue;
    transition: all 500ms ease-in-out;
    margin-top: 20px;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  }
  .fourth a{
    color:rgb(2, 57, 66);
    text-decoration: none;
  }
  .third:hover{
        box-shadow: 0 0 10px 0 rgb(139, 216, 252) inset, 0 0 10px 4px rgb(92, 203, 247);
  }
  /* profile edit */
  .profile-container {
      max-width: 540px;
      margin: 0 auto;
      /* margin-top: 100px; */
      /* margin-left: 330px; */
  }

  .margin{
    margin: 0 auto;
  }
  .profile-photo {
      width: 20vh;
      height: 20vh;
      border-radius: 50%;
      object-fit: cover;
      /* margin-top: 100px; */
      margin-left: 50px;
      position: absolute;
  }
  .profile-body{
      background:rgba(220,220,220,0.7);
    
      /* background-size: cover; */
      /* background-repeat: no-repeat;      */
  }
.save1 {
    text-align: center;
}
.save1 button:hover{
    color: black;
}
#position1{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../media/pic2.jpg");
    background-attachment:fixed;
    min-height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 } 
 .admin-body{
     background: url("../media/pic3.jpg");
     background-size: cover;
 }
 .signup-body {
     background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("../media/pic15.jpeg");
     background-size: cover;
     opacity: 0.7;
 }
 .profile_bottom {
     padding-bottom: 20px;
 }
 .profile_section{
     padding-top: 200px;
 }
 .icon{
     text-align: right;
     font-size: 40px;
     color: red;
     margin-right: 40px;
     margin-top: 40px;
     box-sizing: border-box;
     /* width: 50px; */
     /* height: 50px; */
     /* border-radius: 30px; */
 }
 .cross {
     /* text-align: left; */
     /* margin-left: 20px; */
     position: absolute;
     margin-left: 160px;
     /* margin-left: 30px; */
 }
 
 